html, body{
	
	background-color: #eeeeee;
	height: 100%;
	
}
header,section{	
	margin: 0, auto;
	text-align: center;
}

.jumbotron {
	background-image: linear-gradient(bottom, rgb(181,46,41) 25%, rgb(168,43,38) 65%);
	background-image: -o-linear-gradient(bottom, rgb(181,46,41) 25%, rgb(168,43,38) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(181,46,41) 25%, rgb(168,43,38) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(181,46,41) 25%, rgb(168,43,38) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(181,46,41) 25%, rgb(168,43,38) 65%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(181,46,41)),
		color-stop(0.65, rgb(168,43,38))
	);

	
	color: #eee;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.container {
	max-width: none !important;
	width: 1300px;
}

pre {
	margin-top: 10px;
}

#ready_1 {
	padding: 5px;
}

#ready_2 {
	padding: 5px;
}

/* footer credits*/
.container .credit {
  margin: 20px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #C7C1BF;
}